$login_BackColor: #f3f5f9;
$login_AsideColor: #2f3044;
$login_Title: #2f3044;
$login_InputBack: #ffffff;
$login_RememberMeColor: rgba(47, 48, 68, 0.8);
$login_WithGoogleBack: rgba(27, 197, 189, 0.09);
$login_WithGoogleBackHover: rgba(27, 197, 189, 0.2);
$login_WithGoogleColor: #1bc5bd;
$login_SubmitButtonColor: #ffffff;
$login_bottomList: rgba(167, 168, 187, 0.9);
