$login-back-color: #f3f5f9;
$login-aside-color: #2f3044;
$login-title: #2f3044;
$login-input-back: #ffffff;
$login-remember-me-color: rgba(47, 48, 68, 0.8);
$login-with-google-back: rgba(27, 197, 189, 0.09);
$login-with-google-back-hover: rgba(27, 197, 189, 0.2);
$login-with-google-color: #1bc5bd;
$login-submit-button-color: #ffffff;
$login-bottom-list: rgba(167, 168, 187, 0.9);

$black: #000;
