body {
   font-family: Vazir;
}

.rlt {
   direction: rtl !important;
}

.ltr {
   direction: ltr !important;
}

.checkbox > main {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 22px;
   color: $login-remember-me-color;
   margin-right: 5px;
}
