.auth-footer {
   width: 100%;
   padding-right: 25px;

   div {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      padding-right: 57px;

      span {
         padding-left: 15px;
         padding-right: 15px;
         text-align: center;
         a {
            color: $login-bottom-list;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            &:hover {
               color: $black;
            }
         }
      }
   }
}

@media screen and (max-width: 1000px) {
   .auth-footer {
      margin-top: 70px;
   }
}
